body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #393d42;
  text-align: center;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 1.88rem;
  color: #b9ffe5;
}

h1 .highlight {
  color: #a1fcff;
  /* font-family: 'DejaVu Sans Mono', monospace; */
  font-family: 'Allerta Stencil';
  font-size: 32px;
}
#my {
  color: #ffeab2;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 45px
}
h2 {
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 1.15rem;
  font-weight: lighter;
  color: rgba(185, 255, 229, 0.7);
}
h3 {
  color: rgba(222, 255, 227, .9);
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: lighter;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
