.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 33.3%;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
  background-color: rgba(57, 61, 66, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  font-family: 'Poppins', sans-serif;
}

.Playlist h1 {
  font-family: 'DejaVu Sans Mono', monospace;
  font-weight: lighter;
  background-color: rgba(140, 150, 163, 0.1);
}
.Playlist h2 {
  font-weight: bold;
  font-size: 22px;
  color: #7dff9b;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 22px;
  color: #b9ffe5;
  font-weight: lighter;

}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #b3896e;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgba(179, 119, 110, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
